.left {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.left--pfu {
    width: 100%;
    height: 40%;
}

.left--pfu--first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left--pfu--first > h3 {
    color: #2C3333;
    margin: 15px;
}
.left--pfu--first > p {
    margin: 15px;
    color: #00A9FF;
    font-weight: 500;
}

.left--pfu--cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left--pfu--card {
    height: 190px;
    width: 22%;
    border-radius: 15px;
    background-color: #89CFF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.left--pfu--card > div {
    width: 100%;
    height: 55%;
    background-image: url("/images/jassica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
}

.left--pfu--card > p {
    color: #2C3333;
    font-weight: 500;
    margin-top: auto;
}

.left--pfu--card > button {
    margin-bottom: 12px;
}

.left--mo {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.left--mo--first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left--mo--first > h3 {
    color: #2C3333;
    margin: 15px;
}

.left--mo--first > p {
    color: #00A9FF;
    font-weight: 500;
    margin: 15px;
}

.left--mo--cards {
    height: 80%;
    width: 95%;
    border-radius: 15px;
    background-color: #89CFF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.left--mo--card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.left--mo--card--img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-image: url("/images/jassica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left--mo--status {
    width: 70%;
    margin-right: auto;
    margin-left: 20px;
    height: 80%;
}

.left--mo--status p {
    margin: 0px;
}
.left--mo--status > p {
    margin: 5px 0px;
    font-weight: 500;
    color: #2C3333;
}

.status--text {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.status--text > p {
    font-size: 0.7em;
    font-weight: 500;
    margin: 1px 8px;
}

.status {
    position: relative;
}

.progress {
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: #CDF5FD;
    position: absolute;
}

.progress > div {
    background-color: #00A9FF;
    height: 100%;
    border-radius:10px;
}

.left--progress1 {
    width: 30%;
}
.left--progress2 {
    width: 65%;
}