.left {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.left--pfu {
    width: 100%;
    height: 40%;
}

.left--pfu--first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left--pfu--first > h3 {
    color: #2C3333;
    margin: 15px;
}
.left--pfu--first > p {
    margin: 15px;
    font-weight: 500;
}

.left--pfu--cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left--pfu--card {
    height: 190px;
    width: 22%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.left--pfu--card > div {
    width: 100%;
    height: 55%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
}

.left--pfu--card:nth-child(1) > div {
    background-image: url("/images/t-shirt.jpg");
}
.left--pfu--card:nth-child(2) > div {
    background-image: url("/images/hoddie.jpg");
}
.left--pfu--card:nth-child(3) > div {
    background-image: url("/images/danim.jpg");
}
.left--pfu--card:nth-child(4) > div {
    background-image: url("/images/sneakers.jpg");
}

.left--pfu--card > p {
    font-weight: 500;
    margin-top: auto;
}

.left--pfu--card > button {
    margin-bottom: 12px;
}

.left--mo {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.left--mo--first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left--mo--first > h3 {
    color: #2C3333;
    margin: 15px;
}

.left--mo--first > p {
    font-weight: 500;
    margin: 15px;
}

.left--mo--cards {
    height: 80%;
    width: 95%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.left--mo--card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.left--mo--card--img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left--mo--card:nth-child(1) > .left--mo--card--img {
    background-image: url("/images/shoes.jpg");
}
.left--mo--card:nth-child(2) > .left--mo--card--img {
    background-image: url("/images/watch.jpg");
}
.left--mo--card:nth-child(3) > .left--mo--card--img {
    background-image: url("/images/glasses.jpg");
}

.left--mo--status {
    width: 70%;
    margin-right: auto;
    margin-left: 20px;
    height: 80%;
}

.left--mo--status p {
    margin: 0px;
}
.left--mo--status > p {
    margin: 5px 0px;
    font-weight: 500;
}

.status--text {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.status--text > p {
    font-size: 0.7em;
    font-weight: 500;
    margin: 1px 8px;
}

.status {
    position: relative;
}

.progress {
    width: 100%;
    height: 15px;
    border-radius: 10px;
    position: absolute;
}

.progress > div {
    height: 100%;
    border-radius:10px;
}

.left--progress1 {
    width: 30%;
}
.left--progress2 {
    width: 65%;
}