main {
    background-color: #CDF5FD;
}

.sidebar{
    background-color: #00A9FF;
}

.searchbar {
    background-color: #00A9FF;
}

.theme--button {
    background-color: #89cff3;
    justify-content: flex-start;
}

.theme--button > div {
    background-color: #00A9FF;
}

.theme--button > div > div {
    background-image: url("/icons/light/moon.png");
}

.profile {
    background-color: #00A9FF;
}

/* new css */

button {
	background-color: #00A9FF;
	color: #E2E2E2;
}

.discount {
    background-color: #89CFF3;
    color: #2C3333;
}

.trends--heading > select {
    border-color: #00A9FF;
    color: #00A9FF;
}

.trends--column {
    background-color: #89CFF3;
}

.trends--column--popularity {
    border-color: #CDF5FD;
}

.trends--column--popularity p {
    color: #2C3333;
}

.bar {
    background-color: #00A9FF;
}

.trends-shirt > .chart--icon {
    background-image: url("/icons/dark/tshirt.png");
}

.trends-pants > .chart--icon {
    background-image: url("/icons/dark/pants.png");
}
.trends-shoes > .chart--icon {
    background-image: url("/icons/dark/shoes.png");
}
.trends-glasses > .chart--icon {
    background-image: url("/icons/dark/glasses.png");
}
.trends-watches > .chart--icon {
    background-image: url("/icons/dark/watch.png");
}

.left--pfu--first > p {
    color: #00A9FF;
}

.left--pfu--card {
    background-color: #89CFF3;
}

.left--pfu--card > p {
    color: #2C3333;
}

.left--mo--first > p {
    color: #00A9FF;
}

.left--mo--cards {
    background-color: #89CFF3;
}

.left--mo--status > p {
    color: #2C3333;
}

.progress {
    background-color: #CDF5FD;
}

.progress > div {
    background-color: #00A9FF;
}