.right {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    height: 100%;
    width: 35%;
    flex-direction: column;
}

.discount {
    width: 95%;
    height: 35%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
}

.discount > h3 {
    margin: 0px;
    margin-top: 20px;
}

.discount > p {
    margin: 20px;
    text-align: center;
}

.discount > button {
    margin-bottom: 20px;
}

.trends {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    height: 58%;
}

.trends--heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trends--heading > h3 {
    color: #2C3333;
}

.trends--heading > select {
    background-color: transparent;
    border: 1px solid;
    border-radius: 8px;
    padding: 4px;
    font-size: x-small;
}

.trends--column {
    width: 100%;
    height: 77%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trends--column--popularity {
    width: 90%;
    height: 80%;
    border-radius: 12px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.trends--column--popularity p {
    font-size: small;
    font-weight: 500;
}

.bar {
    margin-top: auto;
    margin-bottom: 5px;
    width: 20px;
    border-radius: 5px 5px 0px 0px;
}

.trends--column--popularity > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

.chart--icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

.trends-shirt > .bar {
    height: 40%;
}

.trends-pants > .bar {
    height: 50%;
}

.trends-shoes > .bar {
    height: 70%;
}

.trends-glasses > .bar {
    height: 35%;
}

.trends-watches > .bar {
    height: 60%;
}